{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h3>Welcome, {{ user.email }}!</h3>
            </div>
            <div class="card-body text-center">
                <p class="lead">You have successfully logged in.</p>
                <div class="d-grid gap-2 col-6 mx-auto mt-4">
                    <a href="{{ url_for('account_pin') }}" class="btn btn-primary btn-lg mb-2">Go to Account</a>
                    <a href="{{ url_for('transfer') }}" class="btn btn-secondary btn-lg">Transfer Funds</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
